In [1]:
import pandas as pd

In [2]:
raw_data_file = '../data/raw_analyst_ratings.csv.zip'

In [3]:
df = pd.read_csv(raw_data_file)

In [4]:
df.head()

,Unnamed: 0,headline,url,publisher,date,stock
0,0,Stocks That Hit 52-Week Highs On Friday,https://www.benzinga.com/news/20/06/16190091/s...,Benzinga Insights,2020-06-05 10:30:54-04:00,A
1,1,Stocks That Hit 52-Week Highs On Wednesday,https://www.benzinga.com/news/20/06/16170189/s...,Benzinga Insights,2020-06-03 10:45:20-04:00,A
2,2,71 Biggest Movers From Friday,https://www.benzinga.com/news/20/05/16103463/7...,Lisa Levin,2020-05-26 04:30:07-04:00,A
3,3,46 Stocks Moving In Friday's Mid-Day Session,https://www.benzinga.com/news/20/05/16095921/4...,Lisa Levin,2020-05-22 12:45:06-04:00,A
4,4,B of A Securities Maintains Neutral on Agilent...,https://www.benzinga.com/news/20/05/16095304/b...,Vick Meyer,2020-05-22 11:38:59-04:00,A

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407328 entries, 0 to 1407327
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1407328 non-null  int64
 1   headline    1407328 non-null  object
 2   url         1407328 non-null  object
 3   publisher   1407328 non-null  object
 4   date        1407328 non-null  object
 5   stock       1407328 non-null  object
dtypes: int64(1), object(5)
memory usage: 64.4+ MB

In [10]:
import matplotlib.pyplot as plt

In [43]:
a = df.groupby(['stock', 'date', 'url'])

In [51]:
for g in a:
    if len(g[1]) > 1:
        print(g[1])

        Unnamed: 0                                    headline  \
559383      562356  Top Performing Industries For July 1, 2015
559384      562357  Top Performing Industries For July 1, 2015

                                                      url   publisher  \
559383  https://www.benzinga.com/news/15/07/5642290/to...  Lisa Levin
559384  https://www.benzinga.com/news/15/07/5642290/to...  Lisa Levin

                       date stock
559383  2015-07-01 00:00:00   GME
559384  2015-07-01 00:00:00   GME

In [52]:
#row 559383 and 559384 are duplicate

In [59]:
df['headline'][[559383, 559384]]

559383    Top Performing Industries For July 1, 2015
559384    Top Performing Industries For July 1, 2015
Name: headline, dtype: object

In [64]:
df.groupby(['date']).count()

                           Unnamed: 0  headline  url  publisher  stock
date
2009-02-14 00:00:00                 1         1    1          1      1
2009-04-27 00:00:00                 2         2    2          2      2
2009-04-29 00:00:00                 1         1    1          1      1
2009-05-22 00:00:00                 1         1    1          1      1
2009-05-27 00:00:00                 6         6    6          6      6
...                               ...       ...  ...        ...    ...
2020-06-11 16:49:41-04:00           1         1    1          1      1
2020-06-11 16:51:33-04:00           1         1    1          1      1
2020-06-11 17:01:39-04:00           1         1    1          1      1
2020-06-11 17:11:20-04:00           1         1    1          1      1
2020-06-11 17:12:35-04:00           1         1    1          1      1

[39957 rows x 5 columns]

In [5]:
df.headline.count()

1407328

In [6]:
df_cleaned = df.drop_duplicates(['stock', 'headline'])

In [7]:
df_cleaned.headline.count()

1341454